#cat-image {
    background: url("../resources/cat.jpg") no-repeat;
    background-size: cover;
    height: 400px   ;
    width: auto;
}

.cats .form-control:focus {
    background-color: rgba(23, 162, 184, 0.1);
    border-color: rgb(23, 162, 184);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#form-dynamic-rows .form-control {
    width: 70%;
}

#form-dynamic-rows .form-control.button-expanded {
    width: 100%;
}

#close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-modal,
#close-modal {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.list-group {
    list-style: decimal inside;
}

.list-group-item {
    display: list-item;
}

#cats-list {
    font-weight: bold;
}

#cat-input-row {
    display: none;
}